%button-all {
  background-color: $main-color;
  border: 1px solid $main-color;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 263px;
  cursor: pointer;
  text-decoration: none;
}