.about-us-home-page {
  padding: 100px 0;
}

.about-us-home-page__content {
  margin-right: 24px;

  .content-title {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
    color: $main-color;
  }

  .content-text {
    font-size: 18px;
    line-height: 1.8;
  }
}

.button-container {
  margin: 60px 0 0 0;
}

.main-button {
  @extend %button-all;
  padding: 15px 70px;

  &:hover {
    background-color: transparent;
    color: $main-color;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.services-section {
  padding: 100px 0;
  text-align: center;
  background-color: $dark;
  .main-button {
    padding: 15px 25px;
  }
}

.appointment-section {
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)
          ),
          url('./images/home/zakazivanje-mobile.jpg');
  background-size: cover;
  text-align: center;
  color: $white;
  font-size: 1.8em;
}

.appointment-section__content {
  padding: 190px 0;
  color: $white;

  .main-button {
    padding: 15px 40px;
  }
}

.appointment-section__content-title {
  font-weight: 400;
}

