.middle-slider {
  padding: 100px 0;
  text-align: center;
  color: $main-color;
}

.middle-slider__title {
  font-weight: 400;
}

.VueCarousel-navigation-button {
  width: 36px;

  &:focus {
    outline: none !important;
  }
}

.slide__content-middle {
  width: 270px;
  margin: 0 5px;
}
.slide__content-middle-title{
  font-size: 1.3em;
}

.slide__content-middle-img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.VueCarousel__middle-slider {
  padding: 58px 0 0 0;
}